<h4>
	<p><small>Author: </small><%= @song.author %></p>
</h4>

<h4>
	<p><small>Title: </small><%= @song.title %></p>
</h4>

<p>
	<small>Added at: <%= @song.created_at %></small>
</p>

<% if @youtube_video_code %>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/<%= @youtube_video_code %>" frameborder="0" allowfullscreen></iframe>
	</div>
<% elsif @song.url %>
	<a href="<%= @song.url %>"><%= @song.url %></a>
<% end %>

<% if @other_songs_from_author.any? %>
	<h5>
		<small>Other songs from <%= @song.author %>:</small>
		<% @other_songs_from_author.each do |song| %>
			<p><a href="/songs/<%= song.id %>"> <%= song.title %></a></p>
		<% end %>
	</h5>
<% end %>

<hr/>
<a href="/songs">Back to all songs</a>
<hr/>

<% if current_user %>
	<% if @song.reviews.pluck(:user_id).exclude? current_user.id %>
		<form method="post" action="/songs/review/<%= @song.id %>">
			<fieldset class="form-group">
				<label>Write a review for <%= @song.title %> by <%= @song.author %></label>
				<textarea class="form-control" name="review" rows="3"></textarea>
			</fieldset>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	<% end %>
<% else %>
	<p>You must be signed in to post reviews</p>
<% end %>

<h4>Reviews for this song</h4>
<% @song.reviews.order(created_at: :desc).each do |review| %>
	<p>
		<%= review.content %><small> -- by <%= review.user.email %></small>
		<% if current_user && current_user.id == review.user.id %>
			<!-- <button class="btn btn-primary btn-sm">Delete this review</button> -->
			<form class="form-inline" method="post" action="/songs/review/<%= review.id %>">
				<!-- <small>Are you sure?</small> -->
				<input name="_method" type="hidden" value="delete">
				<button class="btn btn-danger btn-sm" type="submit">Delete</button>
			</form>
		<% end %>
	</p>
<% end %>